<!DOCTYPE html>
<html>
<head>
	<title></title>
	  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
	  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	  <script src="{{ url_for('static', filename='js/quickadd.js') }}"></script>
</head>
<body>

	<h1>QuickAdd 0.1</h1>
	<p><b>QuickAdd</b> is a tool that enables adding <i>any</i> kind of content through a single tool, and do so in an effective way. The default options for adding components is dependent on the context the tool is used in. QuickAdd is a joint tool which can be used throughout all of UNYX. It is essentially a XAVAR function/feature.</p>
 

<div id="TMS">
<h1 id="TMS-title">Health Management System 0.1</h1>
	<div id="taskarea">
	</div>

	<div>
		<h2 id="add-title">Add component:</h2>
	<form>
		<input type="text" name="tasked" id="taskname">
		<button name="submittask" id="tasksubmit">Submit</button>
	</form>
	</div>
</div>

<div class="s-titlearea">
	<h1>Space: My Beliefs</h1>
</div>

<div>
	<h1>QuickAdd</h1>
	<p>Components and elements</p>
	<ul class="components">
		<li>Belief</li>
		<li>Pattern</li>
	</ul>
	<p>+ Create custom element</p>
	<p>Browse all elements</p>
</div>

<div class="spaces">
	<div class="s-beliefs">
		<h3>meta: Space: My Beliefs</h3>
	</div>
</div>
</body>
</html>